<!DOCTYPE html>
<html>
	<head>
		<title>View Employee</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="top_menu.css">
		<style type="text/css">
			.table{
				position: absolute;
				margin-top: 5%;
				width: 100%;
				height: auto;
				background-color: lightblue;
				z-index: 0;
				overflow: auto;
			}

			table tr th{
				border: 2px solid black;
				text-align: center;
				border-collapse: collapse;
				padding: 5px;
			}

			tr{
				width: 100%;
			}

			th{
				width: 10vw;
			}

			td{
				text-align: center;
				/*width: 20%;*/
			}

			tr th{
				padding: 2px;
			}
		</style>
	</head>
	<body>
		<nav class="menu">
			<ul class="main_ul">
				<li><a href="#">Home</a></li>
				<li><a href="#">Designation</a>
					<ul>
						<li class="sublist"><a href="#">Add</a></li>
						<li class="sublist"><a href="#">Access Control</a></li>
					</ul>
				</li>
					
				<li><a href="#">Schemes</a>
					<ul>
						<li class="sublist"><a href="#">View</a></li>
						<li class="sublist"><a href="#">Add</a></li>
						<li class="sublist"><a href="#">Update</a></li>
						<li class="sublist"><a href="#">Remove</a></li>
					</ul>
				</li>
					
				<li><a href="#">Inbox</a>
					<ul>
						<li class="sublist"><a href="#">New</a></li>
						<li class="sublist"><a href="#">Completed</a></li>
					</ul>
				</li>
					
				<li><a href="#">Employee</a>
					<ul>
						<li class="sublist"><a href="#">View</a></li>
						<li class="sublist"><a href="#">Add</a></li>
					</ul>
				</li>

				<li><a href="#">Logout</a></li>
					
			</ul>
		</nav>

		<div class="table">
			<table>
				<tr class="column">
					<th>Employee Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Designation Id</th>
					<th>Date of Creation</th>
					<th>Date of Deletion</th>
					<th>Last Modified</th>
					<th>Is Deleted</th>
					<th>Is Blocked</th>
					<th>Email</th>
				</tr>
			</table>


	</body>
</html>