<!DOCTYPE html>
<html>
	<head>
		<title>View Employee</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="top_menu.css">
		<style type="text/css">
			.table{
				position: absolute;
				margin-top: 5%;
				width: 100%;
				height: auto;
				background-color: lightblue;
				z-index: 0;
				overflow: auto;
			}

			table tr th{
				border: 2px solid black;
				text-align: center;
				border-collapse: collapse;
				padding: 5px;
			}

			tr{
				width: 100%;
			}

			th{
				width: 10vw;
			}

			td{
				text-align: center;
				/*width: 20%;*/
			}

			tr th{
				padding: 2px;
			}
		</style>
	</head>
	<body>
		<nav class="menu">
			<ul class="main_ul">
				<li><a href="home.html"><i name="usericon" class="fa fa-home"></i> Home </a></li>
				<li><a href="#"><i name="usericon" class="fa fa-id-card"></i> Designation </a>
					<ul>
						<li class="sublist"><a href="add_designation.html"><i name="usericon" class="fa fa-plus-square-o"></i> Add </a></li>
						<li class="sublist"><a href="access_control.html"><i name="usericon" class="fa fa-universal-access" style="margin-left: -0.1vw;font-size: 1vw;"></i> Access Control</a></li>
					</ul>
				</li>
					
				<li><a href="#"><i name="usericon" class="fa fa-sitemap"></i> Schemes </a>
					<ul>
						<li class="sublist"><a href="view_schemes.html"><i name="usericon" class="fa fa-eye"></i> View </a></li>
						<li class="sublist"><a href="add_scheme.html"><i name="usericon" class="fa fa-plus-square-o"></i> Add </a></li>
						<li class="sublist"><a href="#"><i name="usericon" class="fa fa-level-up"></i> Update </a></li>
						<li class="sublist"><a href="#"><i name="usericon" class="fa fa-minus-square-o"></i> Remove </a></li>
					</ul>
				</li>
					
				<li><a href="#"><i name="usericon" class="fa fa-envelope-open-o"></i> Inbox </a>
					<ul>
						<li class="sublist"><a href="application_view.html"><i name="usericon" class="fa fa-envelope-o"></i> New </a></li>
						<li class="sublist"><a href="#"><i name="usericon" class="fa fa-check-square-o"></i> Completed </a></li>
					</ul>
				</li>
					
				<li><a href="#"><i name="usericon" class="fa fa-user"></i> Employee </a>
					<ul>
						<li class="sublist"><a href="employee_view.html"><i name="usericon" class="fa fa-eye"></i> View </a></li>
						<li class="sublist"><a href="add employee.html"><i name="usericon" class="fa fa-user-plus"></i> Add </a></li>
					</ul>
				</li>

				<li><a href="#"><i name="usericon" class="fa fa-power-off"></i> Logout </a></li>
					
			</ul>
		</nav>

		<div class="table">
			<table>
				<tr class="column">
					<th>Employee Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Designation Id</th>
					<th>Date of Creation</th>
					<th>Date of Deletion</th>
					<th>Last Modified</th>
					<th>Is Deleted</th>
					<th>Is Blocked</th>
					<th>Email</th>
				</tr>
			</table>


	</body>
</html>