<!DOCTYPE html>
<html>
	<head>
		<title>navbar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="top_menu.css">
	</head>
	<body>
		<nav class="menu">
			<ul class="main_ul">
				<li><a href="home.html"><i name="usericon" class="fa fa-home"></i> Home </a></li>
				<li><a href="#"><i name="usericon" class="fa fa-id-card"></i> Designation </a>
					<ul>
						<li class="sublist"><a href="add_designation.html"><i name="usericon" class="fa fa-plus-square-o"></i> Add </a></li>
						<li class="sublist"><a href="access_control.html"><i name="usericon" class="fa fa-universal-access" style="margin-left: -0.1vw;font-size: 1vw;"></i> Access Control</a></li>
					</ul>
				</li>
					
				<li><a href="#"><i name="usericon" class="fa fa-sitemap"></i> Schemes </a>
					<ul>
						<li class="sublist"><a href="view_schemes.html"><i name="usericon" class="fa fa-eye"></i> View </a></li>
						<li class="sublist"><a href="add_scheme.html"><i name="usericon" class="fa fa-plus-square-o"></i> Add </a></li>
						<li class="sublist"><a href="#"><i name="usericon" class="fa fa-level-up"></i> Update </a></li>
						<li class="sublist"><a href="#"><i name="usericon" class="fa fa-minus-square-o"></i> Remove </a></li>
					</ul>
				</li>
					
				<li><a href="#"><i name="usericon" class="fa fa-envelope-open-o"></i> Inbox </a>
					<ul>
						<li class="sublist"><a href="application_view.html"><i name="usericon" class="fa fa-envelope-o"></i> New </a></li>
						<li class="sublist"><a href="#"><i name="usericon" class="fa fa-check-square-o"></i> Completed </a></li>
					</ul>
				</li>
					
				<li><a href="#"><i name="usericon" class="fa fa-user"></i> Employee </a>
					<ul>
						<li class="sublist"><a href="employee_view.html"><i name="usericon" class="fa fa-eye"></i> View </a></li>
						<li class="sublist"><a href="add employee.html"><i name="usericon" class="fa fa-user-plus"></i> Add </a></li>
					</ul>
				</li>

				<li><a href="#"><i name="usericon" class="fa fa-power-off"></i> Logout </a></li>
					
			</ul>
		</nav>
	</body>
</html>