<!DOCTYPE html>
<html>
	<head>
		<title>navbar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="top_menu.css">
	</head>
	<body>
		<nav class="menu">
			<ul class="main_ul">
				<li><a href="#">Home</a></li>
				<li><a href="#">Designation</a>
					<ul>
						<li class="sublist"><a href="#">Add</a></li>
						<li class="sublist"><a href="#">Access Control</a></li>
					</ul>
				</li>
					
				<li><a href="#">Schemes</a>
					<ul>
						<li class="sublist"><a href="#">View</a></li>
						<li class="sublist"><a href="#">Add</a></li>
						<li class="sublist"><a href="#">Update</a></li>
						<li class="sublist"><a href="#">Remove</a></li>
					</ul>
				</li>
					
				<li><a href="#">Inbox</a>
					<ul>
						<li class="sublist"><a href="#">New</a></li>
						<li class="sublist"><a href="#">Completed</a></li>
					</ul>
				</li>
					
				<li><a href="#">Employee</a>
					<ul>
						<li class="sublist"><a href="#">View</a></li>
						<li class="sublist"><a href="#">Add</a></li>
					</ul>
				</li>

				<li><a href="#">Logout</a></li>
					
			</ul>
		</nav>
	</body>
</html>